.ios,
.md {
    page-mygigs {
         .mygig-card-list  {
            width: 100%;
            display:none;
        }
        .mygig-card-list button {
            width: 100%;
            
        }
    }
}