<!--
  Generated template for the GigsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Gigs looking for someone with your skills</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>

    <button ion-item *ngFor="let job of jobs" (click)="itemTapped($event, job)">
      <span *ngIf="job?.seeking ==null">There aren't any job postings for you at the moment, please check back later</span>
       <span *ngIf="job?.seeking !=null">{{job.seeking}}</span> 
     
        <span *ngIf="job?.seeking !=rate">{{job.rate}} </span>
     
    </button>

  </ion-list>



</ion-content>