<!--
  Generated template for the GigsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>All Gigs</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div class="gig-card-list">
    <button *ngFor="let job of jobs" (click)="itemTapped($event, job)">
  
<ion-card>
  <!--<img src="img/nin-live.png"/>-->
  <ion-card-content>
    <ion-card-title>
     <span *ngIf="job?.seeking !=null">{{job.seeking}}</span>
      </ion-card-title>
    <p>
        <span *ngIf="job?.seeking !=null">{{job.description}}</span>
     
        <span *ngIf="job?.seeking !=rate">{{job.rate}} </span>
    </p>
  </ion-card-content>
</ion-card>      
    </button>
  </div> 




</ion-content>