.ios,
.md {
    page-gigs {
        .gig-card-list button {
            width: 100%
        }
         .toolbar-title{
                text-align: center;
        }

        .fixed-content{
            background: rgba(105, 105, 105, 0.11);
        }
    }
}