.ios,
.md {
    page-login {
        .header {
            text-align: center;
        }
        .fullscreen-bg {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            overflow: hidden;
            z-index: -100;
        }
        .fullscreen-bg__video {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
        }
        .overlay {
            background-color: rgba(138, 144, 138, 0.35);
        }
        .content {
            background-color: initial;
        }
        .item {
            background-color: initial;
        }
        .input {
            color: white;
            background: rgba(220, 214, 214, 0.45);
        }
        .input-wrapper .label {
            color: white; // font-size: 32px;
        }
        .toolbar-background {
            background-color: initial;
        }
        .header-md::after,
        .tabs-md[tabsPlacement=“top”]>.tabbar::after,
        .footer-md::before,
        .tabs-md[tabsPlacement=“bottom”]>.tabbar::before {
            background-image: none;
        }
        .toolbar-title {
            color: white;
        }
        .scroll-content {
            position: relative;
            height: 100%;
            padding: 0;
        }
        form {
            position: absolute;
            top: 60%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 93%;
            height: 200px;
        }
        .list {
            // background: rgba(52, 52, 52, 0.45);
            border-radius: 18px;
            border-bottom: initial;
        }
        .logo {
            width: 59%;
            margin: 0 auto;
            position: fixed;
            top: 6%;
            left: 20%;
        }
        .toolbar {
            display: none;
        }
        .list-ios>.item-block:first-child {
            border-top: initial;
        }
        .text-input {
            text-align: center;
        }
        .item.item-block .item-inner {
            border-bottom: initial;
        }
        .login-form-icon {
            padding: 0 10px 0 10px; // transform: scale(1.5, 1.5);
            border-right: 1px solid #ffffff;
        }
        .login-form-spacer {
            padding-left: 2%;
        }
        .item-md.item-input.item-input-has-focus .item-inner,
        .item-md.item-input.input-has-focus .item-inner {
            border-bottom-color: initial;
            box-shadow: initial;
        }
        .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
        .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
            border-bottom-color: initial;
            box-shadow: initial;
        }
    }
}