.ios,
.md {
    page-login {
        .header {
            text-align: center;
        }
        .fullscreen-bg {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            overflow: hidden;
            z-index: -100;
        }
        .fullscreen-bg__video {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
        }
        .overlay {
            background-color: rgba(138, 144, 138, 0.35);
        }
        .content {
            background-color: initial;
        }
        .item {
            background-color: initial;
        }
        .input {
            color: white;
        }
        .input-wrapper .label {
            color: white; // font-size: 32px;
        }
        .toolbar-background {
            background-color: initial;
        }
        .header-md::after,
        .tabs-md[tabsPlacement=“top”]>.tabbar::after,
        .footer-md::before,
        .tabs-md[tabsPlacement=“bottom”]>.tabbar::before {
            background-image: none;
        }
        .toolbar-title {
            color: white;
        }
        .scroll-content {
            position: relative;
            height: 100%;
            padding: 0;
        }
        form {
            position: absolute;
            top: 60%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 93%;
            height: 200px;
        }
        .list {
            background: rgba(52, 52, 52, 0.45);
            border-radius: 18px;
        }
        .logo {
            width: 59%;
            margin: 0 auto;
            position: fixed;
            top: 6%;
            left: 20%;
        }
        .toolbar {
            display: none;
        }
        .list-ios>.item-block:first-child {
            border-top: initial;
        }
        .text-input {
            text-align: center;
        }
    }
}