page-view-posted-gig {
    h1 {
        text-align: center;
    }

    h2 {
            text-align: center;
            background: #236936;
            color: white;
            padding: 4px;
        }
         .scroll-content{
            text-align: center;
    }

    .toolbar-title{
        text-align: center;
    margin-left: -27px;
    }
}