.ios,
.md {
    page-postgig {
        .overlay {
            background-color: green;
        }

        .searchbar{
                background: initial;
        }
        .toolbar-title{
                text-align: center;
        }
    }
}