.ios,
.md {
    page-postgig {
        .overlay {
            background-color: green;
        }

        .searchbar{
                background: initial;
        }
        .toolbar-title{
                text-align: center;
        }
        .fixed-content{
            background: rgba(105, 105, 105, 0.11);
        }

        .input-cover{
            background: rgba(105, 105, 105, 0.11);
        }
    }
}